.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .montserrat-normal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  .margin-5{
    margin-left: -70px;
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor-cards{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    flex-wrap: wrap; 
    
}
.montserrat-boldnormal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.montserrat-boldnormal-desc{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 10.8px;
  margin: .2rem;
}
.card{
  box-shadow: 4px 4px 25px -17px rgba(0,0,0,1);
}
.card:hover{
  transition: box-shadow .4s ease-in-out;
  box-shadow: 8px 8px 35px -17px rgba(0,0,0,1);
  transition: transform .4s ease-in-out;
  transform: scale(1.05);
}
.logito{
  position: absolute;
  top: 3px;
  left: 130px;
}

@media (max-width: 999px) {
    .logito{
      position: static;
    }
}
@media (max-width: 850px) {
  .logito{
    position: relative;
    right: 100px;
  }
}